
@media screen and (max-width: 1200px) {
    /* ------------ FAQs Contain ------------ */

    .faqs-innerContain{
        width: 80%;
    }
}
@media screen and (max-width: 1024px) {
    /* ------------ FAQs Contain ------------ */

    .faqs-innerContain{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    /* ------------ FAQs Contain ------------ */

    .faq-item .faq-question{
        font: 20px "headFont";
    }
}
@media screen and (max-width: 768px) {
    /* ------------ FAQs Contain ------------ */

    .faqsHead{
        font: 32px "headFont";
        text-align: center;
        letter-spacing: -2px;
    }
}